<div class="top-level-page">
  <mat-card class="login-card">
    <div class="title-logo-container">
      <img class="title-logo" src="/assets/images/logo.svg" />
    </div>
    <form class="login-form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="login-username">
        <mat-label>Felhasználónév</mat-label>
        <input
          matInput
          placeholder="Felhasználónév"
          name="username"
          [(ngModel)]="username"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="login-password">
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          type="password"
          placeholder="Jelszó"
          name="password"
          [(ngModel)]="password"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" class="login-button">
        Bejelentkezés
      </button>
    </form>
  </mat-card>
</div>
