<div class="top-level-page">
  <mat-card class="login-card">
    <div class="title-logo-container">
      <img class="title-logo" src="/assets/images/logo.svg" />
    </div>
    <h1 class="login-title">Bejelentkezés</h1>
    <mat-card-content>
      <p>Felhasználónév</p>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <p>Jelszó</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Bejelentkezés</button>
    </mat-card-actions>
  </mat-card>
</div>
