<div class="top-level-page">
  <mat-card class="login-card">
    <div class="title-logo-container">
      <img class="title-logo" src="/assets/images/logo.svg" />
    </div>
    <div class="login-form">
      <mat-form-field appearance="outline" class="login-username">
        <mat-label>Felhasználónév</mat-label>
        <input matInput placeholder="Felhasználónév" [(ngModel)]="username" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="login-password">
        <mat-label>Jelszó</mat-label>
        <input
          type="password"
          matInput
          placeholder="Jelszó"
          [(ngModel)]="password"
        />
      </mat-form-field>
      <button mat-raised-button class="login-button" (click)="login()">
        Bejelentkezés
      </button>
    </div>
  </mat-card>
</div>
