<div class="top-level-page">
  <app-header-menu></app-header-menu>
  <div>
    <div class="main-content">
      <h1 class="page-header">Termékeink</h1>
      <button
        mat-button
        *ngIf="isAdmin | async"
        class="add-product-button"
        routerLink="/product-edit"
      >
        <mat-icon>add</mat-icon> Új hozzáadása
      </button>
      <mat-card class="product-card" *ngFor="let product of products">
        <img
          [src]="product.imageURL || '/assets/images/paintbucket.svg'"
          class="product-image"
          #productImage
        />
        <div class="product-details">
          <div class="product-title-row">
            <h2 class="product-title">
              {{ product.name }}
            </h2>
            <span class="product-price">{{ product.price }} Ft/db</span>
            <button
              mat-icon-button
              *ngIf="isAdmin | async"
              [routerLink]="'/product-edit/' + product._id"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              *ngIf="isAdmin | async"
              (click)="deleteProduct(product)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <p class="product-description">{{ product.description }}</p>
          <div class="product-shop-options">
            <div class="product-inventory">
              Készleten: {{ product.quantityLeft }} db, kosárban
              {{ cartNumber(product._id) | async }} db
            </div>
            <input
              placeholder="Darab"
              class="product-quantity"
              [(ngModel)]="inputs[product._id]"
            />
            <button
              mat-raised-button
              class="product-to-cart-button"
              (click)="toCart(product)"
            >
              Kosárba tesz
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <button
    mat-fab
    color="warn"
    class="cart-button"
    routerLink="/cart"
    *ngIf="hasCartContent | async"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
