/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-level-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  mix-blend-mode: hard-light;
  background: #bfbfbf;
}

.snack-bar-error {
  background-color: #600;
  color: white;
  font-weight: bold;
}
