/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-level-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  mix-blend-mode: hard-light;
  background: #bfbfbf;
}

.snack-bar-error {
  background-color: #600;
  color: white;
  font-weight: bold;
}

.snack-bar-success {
  background-color: rgb(12, 102, 0);
  color: white;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

h1.page-header {
  color: #3c3c3c;
  font-weight: bold;
  font-size: 36pt;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
